@screen md {
	.brand-background {
		& img {
			height: 32vh;
		}
	}

	#profile {
		& .content {
			& .photo {
				height: 32vh;

				& img {
					height: 50vh;
				}
			}
		}
	}

	#event {
		& .glide {
			& .glide__slide {
				& .event-title {
					font-size: 4.5vw;
				}
			}
		}
	}
}